body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  background-color: aqua;
  margin: 50px;
  border-radius: 10%;

.profile {
  flex: 0 0 auto;
  margin-right: 20px;
}

.profile img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.bio {
  flex: 1 1 auto;
}

.bio h2 {
  margin-top: 0;
}

.bio ul {
  padding: 0;
}

.bio ul li {
  list-style-type: none;
}